# 라이브러리

In [1]:
import pandas as pd

In [12]:
url = "https://finance.naver.com/item/sise_day.nhn?code=042660&page=1"

# pandas 코드로 수집

In [13]:
table = pd.read_html(url, encoding="cp949") #table만 출력 가능
len(table)

ValueError: No tables found

# request를 통한 HTTP 요청

In [17]:
import requests

# 해당 네이버 페이지가 브라우저에서만 출력이 가능하게해놓아서 브라우저인 척 header 설정
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36'}

response = requests.get(url, headers=headers)

In [18]:
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.05.03</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">37,700</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">37,350</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">39,900</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">36,550</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">2,228,307</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.30</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">36,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">35,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">37,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">35,050</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">2,140,561</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.29</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">34,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t2,550\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">32,400</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">35,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">32,150</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">1,694,175</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.28</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">32,150</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t450\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">32,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">33,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">31,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">1,134,807</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">31,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t700\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">31,150</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">31,750</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">30,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">799,468</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">31,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t1,950\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">31,150</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">1,307,440</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,050</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t250\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,250</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,250</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">28,600</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">221,059</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.22</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t300\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,450</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">28,850</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">329,342</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.21</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t50\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">28,650</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">329,185</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.20</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">28,950</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t150\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,050</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">29,450</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">28,900</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">341,393</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=042660&amp;page=501"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

# beaurfiulsoup4을 통한 table 태그 찾기

In [19]:
from bs4 import BeautifulSoup as bs

In [22]:
html = bs(response.text, "lxml")
html

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.05.03</span></td>
<td class="num"><span class="tah p11">37,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">37,350</span></td>
<td class="num"><span class="tah p11">39,900</span></td>
<td class="num"><span class="tah p11">36,550</span></td>
<td class="num"><span class="tah p11">2,228,307</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.30</span></td>
<td class="num"><span class="tah p11">36,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,000
				</span>
</td>
<td class="num"><span class="tah p11">35,100</span></td>
<td class="num"><span class="tah p11">37,400</span></td>
<td class="num"><span class="tah p11">35,050</span></td>
<td class="num"><span class="tah p11">2,140,561</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.29</span></td>
<td class="num"><span class="tah p11">34,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,550
				</span>
</td>
<td class="num"><span class="tah p11">32,400</span></td>
<td class="num"><span class="tah p11">35,600</span></td>
<td class="num"><span class="tah p11">32,150</span></td>
<td class="num"><span class="tah p11">1,694,175</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.28</span></td>
<td class="num"><span class="tah p11">32,150</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				450
				</span>
</td>
<td class="num"><span class="tah p11">32,000</span></td>
<td class="num"><span class="tah p11">33,300</span></td>
<td class="num"><span class="tah p11">31,900</span></td>
<td class="num"><span class="tah p11">1,134,807</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.27</span></td>
<td class="num"><span class="tah p11">31,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				700
				</span>
</td>
<td class="num"><span class="tah p11">31,150</span></td>
<td class="num"><span class="tah p11">31,750</span></td>
<td class="num"><span class="tah p11">30,500</span></td>
<td class="num"><span class="tah p11">799,468</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.26</span></td>
<td class="num"><span class="tah p11">31,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,950
				</span>
</td>
<td class="num"><span class="tah p11">29,200</span></td>
<td class="num"><span class="tah p11">31,150</span></td>
<td class="num"><span class="tah p11">29,200</span></td>
<td class="num"><span class="tah p11">1,307,440</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.23</span></td>
<td class="num"><span class="tah p11">29,050</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				250
				</span>
</td>
<td class="num"><span class="tah p11">29,250</span></td>
<td class="num"><span class="tah p11">29,250</span></td>
<td class="num"><span class="tah p11">28,600</span></td>
<td class="num"><span class="tah p11">221,059</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.22</span></td>
<td class="num"><span class="tah p11">29,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">29,000</span></td>
<td class="num"><span class="tah p11">29,450</span></td>
<td class="num"><span class="tah p11">28,850</span></td>
<td class="num"><span class="tah p11">329,342</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.21</span></td>
<td class="num"><span class="tah p11">29,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				50
				</span>
</td>
<td class="num"><span class="tah p11">29,100</span></td>
<td class="num"><span class="tah p11">29,200</span></td>
<td class="num"><span class="tah p11">28,650</span></td>
<td class="num"><span class="tah p11">329,185</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.20</span></td>
<td class="num"><span class="tah p11">28,950</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				150
				</span>
</td>
<td class="num"><span class="tah p11">29,050</span></td>
<td class="num"><span class="tah p11">29,450</span></td>
<td class="num"><span class="tah p11">28,900</span></td>
<td class="num"><span class="tah p11">341,393</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.nhn?code=042660&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=042660&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.nhn?code=042660&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.nhn?code=042660&amp;page=501">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body></html>

In [28]:
table = html.select("table")
table

[<table cellspacing="0" class="type2">
 <tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.05.03</span></td>
 <td class="num"><span class="tah p11">37,700</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">37,350</span></td>
 <td class="num"><span class="tah p11">39,900</span></td>
 <td class="num"><span class="tah p11">36,550</span></td>
 <td class="num"><span class="tah p11">2,228,307</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.30</span></td>
 <td class="num"><span class="tah p11">36,700</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">35,100</span></td>
 <td class="num"><span class="tah p11">37,400</span></td>
 <td class="num"><span class="tah p11">35,050</span></td>
 <td class="num"><span class="tah p11">2,140,561</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.29</span></td>
 <td class="num"><span class="tah p11">34,700</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				2,550
 				</span>
 </td>
 <td class="num"><span class="tah p11">32,400</span></td>
 <td class="num"><span class="tah p11">35,600</span></td>
 <td class="num"><span class="tah p11">32,150</span></td>
 <td class="num"><span class="tah p11">1,694,175</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.28</span></td>
 <td class="num"><span class="tah p11">32,150</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				450
 				</span>
 </td>
 <td class="num"><span class="tah p11">32,000</span></td>
 <td class="num"><span class="tah p11">33,300</span></td>
 <td class="num"><span class="tah p11">31,900</span></td>
 <td class="num"><span class="tah p11">1,134,807</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.27</span></td>
 <td class="num"><span class="tah p11">31,700</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				700
 				</span>
 </td>
 <td class="num"><span class="tah p11">31,150</span></td>
 <td class="num"><span class="tah p11">31,750</span></td>
 <td class="num"><span class="tah p11">30,500</span></td>
 <td class="num"><span class="tah p11">799,468</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.26</span></td>
 <td class="num"><span class="tah p11">31,000</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				1,950
 				</span>
 </td>
 <td class="num"><span class="tah p11">29,200</span></td>
 <td class="num"><span class="tah p11">31,150</span></td>
 <td class="num"><span class="tah p11">29,200</span></td>
 <td class="num"><span class="tah p11">1,307,440</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.23</span></td>
 <td class="num"><span class="tah p11">29,050</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				250
 				</span>
 </td>
 <td class="num"><span class="tah p11">29,250</span></td>
 <td class="num"><span class="tah p11">29,250</span></td>
 <td class="num"><span class="tah p11">28,600</span></td>
 <td class="num"><span class="tah p11">221,059</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.22</span></td>
 <td class="num"><span class="tah p11">29,300</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				300
 				</span>
 </td>
 <td class="num"><span class="tah p11">29,000</span></td>
 <td class="num"><span class="tah p11">29,450</span></td>
 <td class="num"><span class="tah p11">28,850</span></td>
 <td class="num"><span class="tah p11">329,342</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.21</span></td>
 <td class="num"><span class="tah p11">29,000</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				50
 				</span>
 </td>
 <td class="num"><span class="tah p11">29,100</span></td>
 <td class="num"><span class="tah p11">29,200</span></td>
 <td class="num"><span class="tah p11">28,650</span></td>
 <td class="num"><span class="tah p11">329,185</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2021.04.20</span></td>
 <td class="num"><span class="tah p11">28,950</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				150
 				</span>
 </td>
 <td class="num"><span class="tah p11">29,050</span></td>
 <td class="num"><span class="tah p11">29,450</span></td>
 <td class="num"><span class="tah p11">28,900</span></td>
 <td class="num"><span class="tah p11">341,393</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 </table>,
 <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
 <caption>페이지 네비게이션</caption>
 <tr>
 <td class="on">
 <a href="/item/sise_day.nhn?code=042660&amp;page=1">1</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=2">2</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=3">3</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=4">4</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=5">5</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=6">6</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=7">7</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=8">8</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=9">9</a>
 </td>
 <td>
 <a href="/item/sise_day.nhn?code=042660&amp;page=10">10</a>
 </td>
 <td class="pgR">
 <a href="/item/sise_day.nhn?code=042660&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>
 </td>
 <td class="pgRR">
 <a href="/item/sise_day.nhn?code=042660&amp;page=501">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
 </td>
 </tr>
 </table>]

In [29]:
len(table)

2

In [42]:
type(table)

bs4.element.ResultSet

In [30]:
table[0]

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.05.03</span></td>
<td class="num"><span class="tah p11">37,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">37,350</span></td>
<td class="num"><span class="tah p11">39,900</span></td>
<td class="num"><span class="tah p11">36,550</span></td>
<td class="num"><span class="tah p11">2,228,307</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.30</span></td>
<td class="num"><span class="tah p11">36,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,000
				</span>
</td>
<td class="num"><span class="tah p11">35,100</span></td>
<td class="num"><span class="tah p11">37,400</span></td>
<td class="num"><span class="tah p11">35,050</span></td>
<td class="num"><span class="tah p11">2,140,561</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.29</span></td>
<td class="num"><span class="tah p11">34,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				2,550
				</span>
</td>
<td class="num"><span class="tah p11">32,400</span></td>
<td class="num"><span class="tah p11">35,600</span></td>
<td class="num"><span class="tah p11">32,150</span></td>
<td class="num"><span class="tah p11">1,694,175</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.28</span></td>
<td class="num"><span class="tah p11">32,150</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				450
				</span>
</td>
<td class="num"><span class="tah p11">32,000</span></td>
<td class="num"><span class="tah p11">33,300</span></td>
<td class="num"><span class="tah p11">31,900</span></td>
<td class="num"><span class="tah p11">1,134,807</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.27</span></td>
<td class="num"><span class="tah p11">31,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				700
				</span>
</td>
<td class="num"><span class="tah p11">31,150</span></td>
<td class="num"><span class="tah p11">31,750</span></td>
<td class="num"><span class="tah p11">30,500</span></td>
<td class="num"><span class="tah p11">799,468</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.26</span></td>
<td class="num"><span class="tah p11">31,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,950
				</span>
</td>
<td class="num"><span class="tah p11">29,200</span></td>
<td class="num"><span class="tah p11">31,150</span></td>
<td class="num"><span class="tah p11">29,200</span></td>
<td class="num"><span class="tah p11">1,307,440</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.23</span></td>
<td class="num"><span class="tah p11">29,050</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				250
				</span>
</td>
<td class="num"><span class="tah p11">29,250</span></td>
<td class="num"><span class="tah p11">29,250</span></td>
<td class="num"><span class="tah p11">28,600</span></td>
<td class="num"><span class="tah p11">221,059</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.22</span></td>
<td class="num"><span class="tah p11">29,300</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				300
				</span>
</td>
<td class="num"><span class="tah p11">29,000</span></td>
<td class="num"><span class="tah p11">29,450</span></td>
<td class="num"><span class="tah p11">28,850</span></td>
<td class="num"><span class="tah p11">329,342</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.21</span></td>
<td class="num"><span class="tah p11">29,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				50
				</span>
</td>
<td class="num"><span class="tah p11">29,100</span></td>
<td class="num"><span class="tah p11">29,200</span></td>
<td class="num"><span class="tah p11">28,650</span></td>
<td class="num"><span class="tah p11">329,185</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2021.04.20</span></td>
<td class="num"><span class="tah p11">28,950</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				150
				</span>
</td>
<td class="num"><span class="tah p11">29,050</span></td>
<td class="num"><span class="tah p11">29,450</span></td>
<td class="num"><span class="tah p11">28,900</span></td>
<td class="num"><span class="tah p11">341,393</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

# pandas 코드로 다시 요청

In [34]:
pd.read_html(str(table))[0]  # list형태여서 str형태로 변경
                             # NAN은 기존 표의 선을 표현

            날짜       종가     전일비       시가       고가       저가        거래량
0          NaN      NaN     NaN      NaN      NaN      NaN        NaN
1   2021.05.03  37700.0  1000.0  37350.0  39900.0  36550.0  2228307.0
2   2021.04.30  36700.0  2000.0  35100.0  37400.0  35050.0  2140561.0
3   2021.04.29  34700.0  2550.0  32400.0  35600.0  32150.0  1694175.0
4   2021.04.28  32150.0   450.0  32000.0  33300.0  31900.0  1134807.0
5   2021.04.27  31700.0   700.0  31150.0  31750.0  30500.0   799468.0
6          NaN      NaN     NaN      NaN      NaN      NaN        NaN
7          NaN      NaN     NaN      NaN      NaN      NaN        NaN
8          NaN      NaN     NaN      NaN      NaN      NaN        NaN
9   2021.04.26  31000.0  1950.0  29200.0  31150.0  29200.0  1307440.0
10  2021.04.23  29050.0   250.0  29250.0  29250.0  28600.0   221059.0
11  2021.04.22  29300.0   300.0  29000.0  29450.0  28850.0   329342.0
12  2021.04.21  29000.0    50.0  29100.0  29200.0  28650.0   329185.0
13  2021.04.20  28950.0   150.0  29050.0  29450.0  28900.0   341393.0
14         NaN      NaN     NaN      NaN      NaN      NaN        NaN

In [35]:
temp = pd.read_html(str(table))[0]
temp.dropna() # 결측치 제거

            날짜       종가     전일비       시가       고가       저가        거래량
1   2021.05.03  37700.0  1000.0  37350.0  39900.0  36550.0  2228307.0
2   2021.04.30  36700.0  2000.0  35100.0  37400.0  35050.0  2140561.0
3   2021.04.29  34700.0  2550.0  32400.0  35600.0  32150.0  1694175.0
4   2021.04.28  32150.0   450.0  32000.0  33300.0  31900.0  1134807.0
5   2021.04.27  31700.0   700.0  31150.0  31750.0  30500.0   799468.0
9   2021.04.26  31000.0  1950.0  29200.0  31150.0  29200.0  1307440.0
10  2021.04.23  29050.0   250.0  29250.0  29250.0  28600.0   221059.0
11  2021.04.22  29300.0   300.0  29000.0  29450.0  28850.0   329342.0
12  2021.04.21  29000.0    50.0  29100.0  29200.0  28650.0   329185.0
13  2021.04.20  28950.0   150.0  29050.0  29450.0  28900.0   341393.0

# 페이지 별 데이터 수집 함수

In [74]:
item_code = "326030"
item_name = "SK바이오팜"
page_no = 1

In [38]:
# 종목 url
url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}" # f 를 앞에 넣으면 format string
url

'https://finance.naver.com/item/sise_day.nhn?code=095660&page=1'

In [40]:
# requests 를 통해 http요청

header = {'user-agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}

response = requests.get(url, headers = headers)
response.text

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/css/world.css">\n</head>\n<body>\n<script language="JavaScript">\nfunction mouseOver(obj){\n  obj.style.backgroundColor="#f6f4e5";\n}\nfunction mouseOut(obj){\n  obj.style.backgroundColor="#ffffff";\n}\n</script>\n\t\t\t\t<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>\t\t\t\n\t\t\t\t<table cellspacing="0" class="type2">\n\t\t\t\t<tr>\n\t\t\t\t<th>날짜</th>\n\t\t\t\t<th>종가</th>\n\t\t\t\t<th>전일비</th>\n\t\t\t\t<th>시가</th>\n\t\t\t\t<th>고가</th>\n\t\t\t\t<th>저가</th>\n\t\t\t\t<th>거래량</th>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\n\n\t\n\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.05.03</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">24,200</span></td>\n\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t500\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t<td class="num"><span class="tah p11">23,800</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">24,300</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">23,800</span></td>\n\t\t\t\t<td class="num"><span class="tah p11">155,091</span></td>\n\t\t\t\t</tr>\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.30</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,700</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t150\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,700</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,350</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">269,061</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.29</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,550</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t250\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,350</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,550</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,000</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">137,747</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.28</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,300</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t750\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,050</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">264,032</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.27</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,050</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" width="7" height="6" style="margin-right:4px;" alt="상승"><span class="tah p11 red02">\n\t\t\t\t50\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,050</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">165,810</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="1" bgcolor="#e1e1e1"></td>\n\t\t\t\t</tr>\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.26</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,000</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,850</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">139,486</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.23</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,100</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t100\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,200</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">23,750</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">201,599</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.22</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,200</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t350\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,850</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,100</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">236,886</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.21</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,550</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t1,000\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">25,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">25,500</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">24,450</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">426,116</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\t<tr onMouseOver="mouseOver(this)" onMouseOut="mouseOut(this)">\n\t\t\t\t\t<td align="center"><span class="tah p10 gray03">2021.04.20</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">25,550</span></td>\n\t\t\t\t\t<td class="num">\n\t\t\t\t<img src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" width="7" height="6" style="margin-right:4px;" alt="하락"><span class="tah p11 nv01">\n\t\t\t\t50\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t\t\t\t<td class="num"><span class="tah p11">25,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">25,800</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">25,300</span></td>\n\t\t\t\t\t<td class="num"><span class="tah p11">250,541</span></td>\n\t\t\t\t\t</tr>\n\t\t\t\t\n\t\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\n\t\n\t\t\n\t\n\t\n\t\n\n\t\t\t\t<tr>\n\t\t\t\t<td colspan="7" height="8"></td>\n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 시작--->\n\t\t\t\t<table summary="페이지 네비게이션 리스트" class="Nnavi" align="center">\n\t\t\t\t<caption>페이지 네비게이션</caption>\n\t\t\t\t<tr>\t\t\n\t\t\t\n\t\t\t\t\n                \n                <td class="on">\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=1"  >1</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=2"  >2</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=3"  >3</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=4"  >4</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=5"  >5</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=6"  >6</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=7"  >7</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=8"  >8</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=9"  >9</a>\n\t\t\t\t</td>\n<td>\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=10"  >10</a>\n\t\t\t\t</td>\n\n                <td class="pgR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=11"  >\n\t\t\t\t다음<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n                <td class="pgRR">\n\t\t\t\t<a href="/item/sise_day.nhn?code=095660&amp;page=342"  >맨뒤\n\t\t\t\t<img src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8" height="5" alt="" border="0">\n\t\t\t\t</a>\n\t\t\t\t</td>\n\n            \n\t\t\t\t</tr>\n\t\t\t\t</table>\n\t\t\t\t<!--- 페이지 네비게이션 끝--->\n\n\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/js/jindo.min.ns.1.5.3.euckr.js"></script>\n\t<script type="text/javascript" src="https://ssl.pstatic.net/imgstock/static.pc/20210428175742/js/lcslog.js"></script>\n\t<script type="text/javascript">\n        ;(function(){\n            var eventType = "onpageshow" in window ? "pageshow" : "load";\n            jindo.$Fn(function(){\n                lcs_do();\n            }).attach(window, eventType);\n        })();\n\t</script>\n\n</body>'

In [41]:
# 호출된 http bs4로 해석

html = bs(response.text, "lxml")
table = html.select("table")
len(table)

2

In [43]:
type(table)

bs4.element.ResultSet

In [45]:
# 처리한 데이터 pandas로 다시 읽어오기

table = pd.read_html(str(table))

In [46]:
table[0]

            날짜       종가     전일비       시가       고가       저가       거래량
0          NaN      NaN     NaN      NaN      NaN      NaN       NaN
1   2021.05.03  24200.0   500.0  23800.0  24300.0  23800.0  155091.0
2   2021.04.30  23700.0   150.0  23700.0  24200.0  23350.0  269061.0
3   2021.04.29  23550.0   250.0  23350.0  23550.0  23000.0  137747.0
4   2021.04.28  23300.0   750.0  24050.0  24200.0  23200.0  264032.0
5   2021.04.27  24050.0    50.0  24050.0  24100.0  23800.0  165810.0
6          NaN      NaN     NaN      NaN      NaN      NaN       NaN
7          NaN      NaN     NaN      NaN      NaN      NaN       NaN
8          NaN      NaN     NaN      NaN      NaN      NaN       NaN
9   2021.04.26  24000.0   100.0  24300.0  24300.0  23850.0  139486.0
10  2021.04.23  24100.0   100.0  24200.0  24500.0  23750.0  201599.0
11  2021.04.22  24200.0   350.0  24500.0  24850.0  24100.0  236886.0
12  2021.04.21  24550.0  1000.0  25500.0  25500.0  24450.0  426116.0
13  2021.04.20  25550.0    50.0  25800.0  25800.0  25300.0  250541.0
14         NaN      NaN     NaN      NaN      NaN      NaN       NaN

In [47]:
temp = table[0]
temp.dropna()

            날짜       종가     전일비       시가       고가       저가       거래량
1   2021.05.03  24200.0   500.0  23800.0  24300.0  23800.0  155091.0
2   2021.04.30  23700.0   150.0  23700.0  24200.0  23350.0  269061.0
3   2021.04.29  23550.0   250.0  23350.0  23550.0  23000.0  137747.0
4   2021.04.28  23300.0   750.0  24050.0  24200.0  23200.0  264032.0
5   2021.04.27  24050.0    50.0  24050.0  24100.0  23800.0  165810.0
9   2021.04.26  24000.0   100.0  24300.0  24300.0  23850.0  139486.0
10  2021.04.23  24100.0   100.0  24200.0  24500.0  23750.0  201599.0
11  2021.04.22  24200.0   350.0  24500.0  24850.0  24100.0  236886.0
12  2021.04.21  24550.0  1000.0  25500.0  25500.0  24450.0  426116.0
13  2021.04.20  25550.0    50.0  25800.0  25800.0  25300.0  250541.0

## 함수

In [58]:
def get_day_list(item_code, page_no):
    """
    일자별 시세를 페이지 별로 수집
    """
    url = f"https://finance.naver.com/item/sise_day.nhn?code={item_code}&page={page_no}"
    
    header = {'user-agent':"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}

    response = requests.get(url, headers = headers)
    html = bs(response.text)
    table = html.select("table")
    
    temp = pd.read_html(str(table))
    temp = temp[0].dropna()
    
    return temp

In [62]:
get_day_list(item_code, 10)

            날짜       종가    전일비       시가       고가       저가       거래량
1   2020.12.18  22150.0  400.0  22600.0  22650.0  22150.0  213528.0
2   2020.12.17  22550.0  150.0  22500.0  22800.0  22350.0  240965.0
3   2020.12.16  22400.0  250.0  22800.0  22800.0  22200.0  283021.0
4   2020.12.15  22650.0   50.0  22950.0  23050.0  22350.0  329336.0
5   2020.12.14  22600.0  450.0  22250.0  22750.0  22050.0  313401.0
9   2020.12.11  22150.0  200.0  22150.0  22200.0  21850.0  166059.0
10  2020.12.10  21950.0  300.0  21500.0  21950.0  21450.0  159941.0
11  2020.12.09  21650.0  250.0  22050.0  22200.0  21650.0  229007.0
12  2020.12.08  21900.0  250.0  21700.0  22200.0  21700.0  188185.0
13  2020.12.07  21650.0  450.0  22100.0  22100.0  21500.0  290224.0

# 반복문을 통한 전체 일자 데이터 수집

In [78]:
import time
# 시작 페이지
page_no = 1
# 데이터를 저장할 빈 변수
item_list=[]

while True:
    print(page_no)
    temp = get_day_list(item_code, page_no)
    
    item_list.append(temp)
    
    page_no = page_no + 1
    time.sleep(0.1) # 일방적인 데이터 요청은 네트워크에 부담이 되어` DDOS 공격으로 오해받을 가능성

    # if temp.shape[0] < 10 :  전체 페이지를 긁어오는 것
    if page_no > 10:
        break;

1
2
3
4
5
6
7
8
9
10

In [70]:
item_list

[            날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.05.03  24200.0   500.0  23800.0  24300.0  23800.0  155091.0
 2   2021.04.30  23700.0   150.0  23700.0  24200.0  23350.0  269061.0
 3   2021.04.29  23550.0   250.0  23350.0  23550.0  23000.0  137747.0
 4   2021.04.28  23300.0   750.0  24050.0  24200.0  23200.0  264032.0
 5   2021.04.27  24050.0    50.0  24050.0  24100.0  23800.0  165810.0
 9   2021.04.26  24000.0   100.0  24300.0  24300.0  23850.0  139486.0
 10  2021.04.23  24100.0   100.0  24200.0  24500.0  23750.0  201599.0
 11  2021.04.22  24200.0   350.0  24500.0  24850.0  24100.0  236886.0
 12  2021.04.21  24550.0  1000.0  25500.0  25500.0  24450.0  426116.0
 13  2021.04.20  25550.0    50.0  25800.0  25800.0  25300.0  250541.0,
             날짜       종가    전일비       시가       고가       저가       거래량
 1   2021.04.19  25600.0  700.0  25050.0  25850.0  25050.0  606922.0
 2   2021.04.16  24900.0  400.0  24750.0  25050.0  24550.0  286087.0
 3   2021.04.15  24500.0   50.0  24400.0  25100.0  24400.0  354912.0
 4   2021.04.14  24450.0  550.0  24000.0  24750.0  23750.0  350281.0
 5   2021.04.13  23900.0  300.0  24200.0  24500.0  23850.0  195089.0
 9   2021.04.12  24200.0   50.0  24450.0  24450.0  24100.0  134163.0
 10  2021.04.09  24250.0  400.0  24100.0  24550.0  23850.0  240108.0
 11  2021.04.08  23850.0  500.0  24400.0  24400.0  23850.0  203533.0
 12  2021.04.07  24350.0   50.0  24300.0  24450.0  23950.0  263554.0
 13  2021.04.06  24300.0  350.0  24100.0  24350.0  23650.0  280568.0,
             날짜       종가    전일비       시가       고가       저가       거래량
 1   2021.04.05  23950.0  100.0  23850.0  24000.0  23750.0  192895.0
 2   2021.04.02  23850.0   50.0  24100.0  24150.0  23550.0  171862.0
 3   2021.04.01  23900.0  500.0  23450.0  24100.0  23200.0  243737.0
 4   2021.03.31  23400.0  200.0  23700.0  23750.0  23350.0  116624.0
 5   2021.03.30  23600.0  650.0  23050.0  23650.0  23050.0  132837.0
 9   2021.03.29  22950.0  350.0  23400.0  23400.0  22900.0  160065.0
 10  2021.03.26  23300.0  200.0  23750.0  23750.0  23100.0  140733.0
 11  2021.03.25  23500.0  100.0  23650.0  24000.0  23400.0  171103.0
 12  2021.03.24  23600.0  550.0  23200.0  23650.0  22950.0  158338.0
 13  2021.03.23  23050.0  350.0  23550.0  23850.0  22850.0  252861.0,
             날짜       종가     전일비       시가       고가       저가       거래량
 1   2021.03.22  23400.0   500.0  23100.0  23650.0  23050.0  216975.0
 2   2021.03.19  22900.0    50.0  22850.0  23200.0  22650.0  150951.0
 3   2021.03.18  22950.0   200.0  22950.0  23250.0  22850.0  158207.0
 4   2021.03.17  22750.0     0.0  22750.0  23150.0  22700.0  103277.0
 5   2021.03.16  22750.0    50.0  22800.0  23050.0  22700.0  170738.0
 9   2021.03.15  22800.0   100.0  23000.0  23050.0  22600.0  160508.0
 10  2021.03.12  22900.0   500.0  22800.0  23850.0  22550.0  246424.0
 11  2021.03.11  22400.0   150.0  22400.0  22800.0  22400.0  136976.0
 12  2021.03.10  22550.0  1050.0  23900.0  24000.0  22550.0  208264.0
 13  2021.03.09  23600.0   150.0  23500.0  24050.0  22700.0  308805.0,
             날짜       종가     전일비       시가       고가       저가        거래량
 1   2021.03.08  23450.0  1600.0  22850.0  24400.0  22700.0   913982.0
 2   2021.03.05  21850.0   450.0  22000.0  22150.0  21700.0   158821.0
 3   2021.03.04  22300.0    50.0  22150.0  22300.0  21850.0   102494.0
 4   2021.03.03  22350.0   400.0  22000.0  22400.0  21900.0   109079.0
 5   2021.03.02  21950.0   300.0  22600.0  22750.0  21900.0   170581.0
 9   2021.02.26  22250.0   550.0  22150.0  22400.0  21650.0   304272.0
 10  2021.02.25  22800.0   150.0  23100.0  23100.0  22750.0   192461.0
 11  2021.02.24  22650.0  1150.0  23650.0  23900.0  22600.0   385655.0
 12  2021.02.23  23800.0   750.0  24000.0  24600.0  23750.0   359224.0
 13  2021.02.22  24550.0   200.0  25150.0  26200.0  24350.0  1438748.0,
             날짜       종가     전일비       시가       고가       저가        거래량
 1   2021.02.19  24350.0    50.0  24400.0  25500.0  23750.0  1257445.0
 2   2021.02.18  24400.0   850.0  25350.0  25650.0  24400.0   466210.0
 3   2021.02.17  25250.0   550.0  24850.0  25500.0  24650.0   617998.0
 4   2021.02.16  24700.0    50.0  24650.0  24800.0  24450.0   152881.0
 5   2021.02.15  24650.0     0.0  25000.0  25050.0  24250.0   275009.0
 9   2021.02.10  24650.0   350.0  24900.0  25200.0  24400.0   380919.0
 10  2021.02.09  24300.0   500.0  24050.0  24450.0  23800.0   301504.0
 11  2021.02.08  23800.0   150.0  24000.0  24300.0  23400.0   200523.0
 12  2021.02.05  23950.0     0.0  24150.0  24250.0  23700.0   190389.0
 13  2021.02.04  23950.0  1050.0  25050.0  25050.0  23850.0   319414.0,
             날짜       종가     전일비       시가       고가       저가        거래량
 1   2021.02.03  25000.0   950.0  24250.0  25400.0  24050.0   462631.0
 2   2021.02.02  24050.0     0.0  24350.0  24500.0  23650.0   300320.0
 3   2021.02.01  24050.0   250.0  23500.0  24200.0  23100.0   283950.0
 4   2021.01.29  23800.0  1000.0  25200.0  25200.0  23050.0   596089.0
 5   2021.01.28  24800.0  1050.0  25000.0  25450.0  24650.0   444781.0
 9   2021.01.27  25850.0   400.0  26750.0  27000.0  25050.0   561622.0
 10  2021.01.26  26250.0    50.0  26350.0  26400.0  25550.0   557140.0
 11  2021.01.25  26200.0  1700.0  25300.0  26250.0  24850.0  1230520.0
 12  2021.01.22  24500.0   400.0  24100.0  25350.0  23900.0   694167.0
 13  2021.01.21  24100.0   200.0  24450.0  24750.0  23950.0   360060.0,
             날짜       종가     전일비       시가       고가       저가        거래량
 1   2021.01.20  24300.0   850.0  23550.0  24550.0  23000.0   674787.0
 2   2021.01.19  23450.0   300.0  23150.0  23700.0  22750.0   318048.0
 3   2021.01.18  23150.0  1000.0  23950.0  24000.0  23050.0   475156.0
 4   2021.01.15  24150.0   450.0  25000.0  25400.0  23900.0   985601.0
 5   2021.01.14  24600.0  2050.0  22550.0  24750.0  22550.0  1690759.0
 9   2021.01.13  22550.0     0.0  22600.0  22950.0  22500.0   277753.0
 10  2021.01.12  22550.0   300.0  22250.0  22750.0  22200.0   256111.0
 11  2021.01.11  22250.0   850.0  23200.0  23200.0  22000.0   617660.0
 12  2021.01.08  23100.0   500.0  22650.0  23150.0  22350.0   575698.0
 13  2021.01.07  22600.0    50.0  22800.0  22800.0  22450.0   300298.0,
             날짜       종가    전일비       시가       고가       저가       거래량
 1   2021.01.06  22550.0  250.0  22850.0  22950.0  22450.0  299338.0
 2   2021.01.05  22800.0  450.0  22350.0  22850.0  22200.0  373767.0
 3   2021.01.04  22350.0  100.0  22650.0  22650.0  22100.0  291036.0
 4   2020.12.30  22450.0  100.0  22350.0  22700.0  22050.0  255522.0
 5   2020.12.29  22350.0  700.0  21750.0  22350.0  21750.0  165409.0
 9   2020.12.28  21650.0  500.0  22150.0  22300.0  21550.0  213210.0
 10  2020.12.24  22150.0  400.0  21850.0  22450.0  21750.0  244121.0
 11  2020.12.23  21750.0  400.0  21500.0  21900.0  21300.0  208313.0
 12  2020.12.22  21350.0  650.0  22000.0  22150.0  21300.0  269952.0
 13  2020.12.21  22000.0  150.0  22150.0  22300.0  21900.0  153601.0,
             날짜       종가    전일비       시가       고가       저가       거래량
 1   2020.12.18  22150.0  400.0  22600.0  22650.0  22150.0  213528.0
 2   2020.12.17  22550.0  150.0  22500.0  22800.0  22350.0  240965.0
 3   2020.12.16  22400.0  250.0  22800.0  22800.0  22200.0  283021.0
 4   2020.12.15  22650.0   50.0  22950.0  23050.0  22350.0  329336.0
 5   2020.12.14  22600.0  450.0  22250.0  22750.0  22050.0  313401.0
 9   2020.12.11  22150.0  200.0  22150.0  22200.0  21850.0  166059.0
 10  2020.12.10  21950.0  300.0  21500.0  21950.0  21450.0  159941.0
 11  2020.12.09  21650.0  250.0  22050.0  22200.0  21650.0  229007.0
 12  2020.12.08  21900.0  250.0  21700.0  22200.0  21700.0  188185.0
 13  2020.12.07  21650.0  450.0  22100.0  22100.0  21500.0  290224.0]

In [71]:
len(item_list)

10

# 수집한 데이터 통합

In [79]:
df= pd.concat(item_list)
df.head()

           날짜        종가     전일비        시가        고가        저가       거래량
1  2021.05.03  105000.0  4000.0  109000.0  109500.0  104500.0  387836.0
2  2021.04.30  109000.0  2500.0  111500.0  111500.0  108500.0  264892.0
3  2021.04.29  111500.0  3500.0  115000.0  115000.0  111000.0  315054.0
4  2021.04.28  115000.0   500.0  114500.0  115500.0  112000.0  305629.0
5  2021.04.27  114500.0  3000.0  118000.0  118500.0  114000.0  334035.0

# 데이터프레임에 종목코드와 종목명 추가

In [80]:
df["종목코드"] = item_code
df["종목명"] = item_name
df

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2021.05.03,105000.0,4000.0,109000.0,109500.0,104500.0,387836.0,326030,SK바이오팜
2,2021.04.30,109000.0,2500.0,111500.0,111500.0,108500.0,264892.0,326030,SK바이오팜
3,2021.04.29,111500.0,3500.0,115000.0,115000.0,111000.0,315054.0,326030,SK바이오팜
4,2021.04.28,115000.0,500.0,114500.0,115500.0,112000.0,305629.0,326030,SK바이오팜
5,2021.04.27,114500.0,3000.0,118000.0,118500.0,114000.0,334035.0,326030,SK바이오팜
...,...,...,...,...,...,...,...,...,...
9,2020.12.11,174500.0,4000.0,178000.0,178500.0,174000.0,180849.0,326030,SK바이오팜
10,2020.12.10,178500.0,6000.0,171000.0,178500.0,168500.0,396257.0,326030,SK바이오팜
11,2020.12.09,172500.0,1000.0,173000.0,173500.0,171500.0,142802.0,326030,SK바이오팜
12,2020.12.08,171500.0,2500.0,172500.0,174000.0,171000.0,160435.0,326030,SK바이오팜
13,2020.12.07,174000.0,2500.0,177500.0,177500.0,171500.0,255183.0,326030,SK바이오팜

# 컬럼 순서 변경

In [81]:
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

In [82]:
cols = ['종목코드','종목명','날짜','종가','전일비','시가','고가','저가','거래량']
df = df[cols]

In [83]:
df

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2021.05.03,105000.0,4000.0,109000.0,109500.0,104500.0,387836.0
2,326030,SK바이오팜,2021.04.30,109000.0,2500.0,111500.0,111500.0,108500.0,264892.0
3,326030,SK바이오팜,2021.04.29,111500.0,3500.0,115000.0,115000.0,111000.0,315054.0
4,326030,SK바이오팜,2021.04.28,115000.0,500.0,114500.0,115500.0,112000.0,305629.0
5,326030,SK바이오팜,2021.04.27,114500.0,3000.0,118000.0,118500.0,114000.0,334035.0
...,...,...,...,...,...,...,...,...,...
9,326030,SK바이오팜,2020.12.11,174500.0,4000.0,178000.0,178500.0,174000.0,180849.0
10,326030,SK바이오팜,2020.12.10,178500.0,6000.0,171000.0,178500.0,168500.0,396257.0
11,326030,SK바이오팜,2020.12.09,172500.0,1000.0,173000.0,173500.0,171500.0,142802.0
12,326030,SK바이오팜,2020.12.08,171500.0,2500.0,172500.0,174000.0,171000.0,160435.0
13,326030,SK바이오팜,2020.12.07,174000.0,2500.0,177500.0,177500.0,171500.0,255183.0

# 중복 데이터 제거

In [85]:
df = df.drop_duplicates()
df.shape

(100, 9)

# 기술통계값

In [86]:
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02
mean,135240.000000,2455.000000,135915.000000,137415.000000,133375.000000,5.503028e+05
std,25918.528141,3107.578713,25653.583344,25680.737485,25723.998837,1.274478e+06
min,101000.000000,0.000000,101500.000000,103000.000000,100000.000000,1.076670e+05
25%,109875.000000,1000.000000,110375.000000,111500.000000,108500.000000,2.097685e+05
50%,147750.000000,1500.000000,147500.000000,148250.000000,145000.000000,3.103415e+05
75%,153375.000000,3125.000000,153750.000000,156500.000000,152000.000000,5.005030e+05
max,181500.000000,25500.000000,180000.000000,181500.000000,176500.000000,1.242668e+07

# 최근 날짜로 파일명 만들기

In [90]:
date = df.iloc[0]["날짜"]
date

'2021.05.03'

In [91]:
# 종목명, 종목코드, 날짜를 이름으로 하는 csv 파일명
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'SK바이오팜_326030_2021.05.03.csv'

In [93]:
# csv로 저장
df.to_csv(file_name, index=False)

In [94]:
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,326030,SK바이오팜,2021.05.03,105000.0,4000.0,109000.0,109500.0,104500.0,387836.0
1,326030,SK바이오팜,2021.04.30,109000.0,2500.0,111500.0,111500.0,108500.0,264892.0
2,326030,SK바이오팜,2021.04.29,111500.0,3500.0,115000.0,115000.0,111000.0,315054.0
3,326030,SK바이오팜,2021.04.28,115000.0,500.0,114500.0,115500.0,112000.0,305629.0
4,326030,SK바이오팜,2021.04.27,114500.0,3000.0,118000.0,118500.0,114000.0,334035.0
...,...,...,...,...,...,...,...,...,...
95,326030,SK바이오팜,2020.12.11,174500.0,4000.0,178000.0,178500.0,174000.0,180849.0
96,326030,SK바이오팜,2020.12.10,178500.0,6000.0,171000.0,178500.0,168500.0,396257.0
97,326030,SK바이오팜,2020.12.09,172500.0,1000.0,173000.0,173500.0,171500.0,142802.0
98,326030,SK바이오팜,2020.12.08,171500.0,2500.0,172500.0,174000.0,171000.0,160435.0
99,326030,SK바이오팜,2020.12.07,174000.0,2500.0,177500.0,177500.0,171500.0,255183.0

# 총 정리: 전체 함수로 만들기

In [98]:
def get_item_list(item_code, item_name ):
    """
    일별 시세를 수집하는 함수
    """
    # 시작 페이지
    page_no = 1
    # 데이터를 저장할 빈 변수
    item_list=[]

    while True:
        temp = get_day_list(item_code, page_no)

        item_list.append(temp)

        page_no = page_no + 1
        time.sleep(0.1) # 일방적인 데이터 요청은 네트워크에 부담이 되어` DDOS 공격으로 오해받을 가능성

        # if temp.shape[0] < 10 :  전체 페이지를 긁어오는 것
        if page_no > 10:
            break;
    
    df=pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    cols = ['종목코드','종목명','날짜','종가','전일비','시가','고가','저가','거래량']
    df = df[cols]
    
    return df

In [99]:
item_code = "326030"
item_name = "SK바이오팜"

get_item_list(item_code, item_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2021.05.03,105000.0,4000.0,109000.0,109500.0,104500.0,387836.0
2,326030,SK바이오팜,2021.04.30,109000.0,2500.0,111500.0,111500.0,108500.0,264892.0
3,326030,SK바이오팜,2021.04.29,111500.0,3500.0,115000.0,115000.0,111000.0,315054.0
4,326030,SK바이오팜,2021.04.28,115000.0,500.0,114500.0,115500.0,112000.0,305629.0
5,326030,SK바이오팜,2021.04.27,114500.0,3000.0,118000.0,118500.0,114000.0,334035.0
...,...,...,...,...,...,...,...,...,...
9,326030,SK바이오팜,2020.12.11,174500.0,4000.0,178000.0,178500.0,174000.0,180849.0
10,326030,SK바이오팜,2020.12.10,178500.0,6000.0,171000.0,178500.0,168500.0,396257.0
11,326030,SK바이오팜,2020.12.09,172500.0,1000.0,173000.0,173500.0,171500.0,142802.0
12,326030,SK바이오팜,2020.12.08,171500.0,2500.0,172500.0,174000.0,171000.0,160435.0
13,326030,SK바이오팜,2020.12.07,174000.0,2500.0,177500.0,177500.0,171500.0,255183.0

In [100]:
item_code = "352820"
item_name = "하이브"

get_item_list(item_code, item_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,352820,하이브,2021.05.03,236500.0,6500.0,243000.0,245000.0,234000.0,194056.0
2,352820,하이브,2021.04.30,243000.0,500.0,244500.0,249000.0,240000.0,183616.0
3,352820,하이브,2021.04.29,243500.0,500.0,247000.0,247500.0,242000.0,176278.0
4,352820,하이브,2021.04.28,244000.0,12000.0,257000.0,258500.0,242000.0,412618.0
5,352820,하이브,2021.04.27,256000.0,3000.0,260000.0,264500.0,255000.0,234760.0
...,...,...,...,...,...,...,...,...,...
9,352820,하이브,2020.12.11,180500.0,1000.0,182000.0,182000.0,179000.0,143946.0
10,352820,하이브,2020.12.10,181500.0,1500.0,179000.0,181500.0,177000.0,388533.0
11,352820,하이브,2020.12.09,180000.0,2000.0,183000.0,183000.0,180000.0,156872.0
12,352820,하이브,2020.12.08,182000.0,1500.0,180000.0,183500.0,177000.0,203373.0
13,352820,하이브,2020.12.07,180500.0,7000.0,188500.0,188500.0,180000.0,254368.0